@import "compass"
@import "variables"
@import "bootstrap"
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|iconicfill)

/* brandico

[class*="brandico-"]:before
  font-family: 'brandico', sans-serif

/* entypo

[class*="entypo-"]:before
  font-family: 'entypo', sans-serif

/* fontawesome

[class*="fontawesome-"]:before
  font-family: 'FontAwesome', sans-serif

/* iconfill
[class*="iconicfill-"]:before
  font-family: 'IconicFill', sans-serif

.navbar
  min-height: 70px !important
.navbar-logo
  height: 40px
  margin-top: -9px
.navbar-nav
  position: relative !important
.brand-block
  font-size: 1.5em
  padding-left: 5px
  position: relative
  top: 5px
  font-weight: bolder

.brand-color
  @extend .brand-block
  color: $illustration-space-color
  font-weight: normal
  &:hover
    opacity: .80
    color: $illustration-space-color
.navbar-brand
  text-align: center
  a:hover
    text-decoration: none !important
.navbar-right
  ul
    li
      width: auto
      float: left
      display: inline-block
      text-decoration: none
      margin-left: 30px
      .fa
        display: inline !important
      a
        color: #595959
        font-size: 15px
        &:hover
          color: #5e5e5e
          text-decoration: none

#forum_embed
  left: 15%
  position: relative

#illustration-space
  height: auto
  width: auto
  text-align: center
  margin-top: -22px
  background-color: $illustration-space-color
  z-index: -1
  img.illustration
    position: relative
    width: 100%
    height: auto
    margin-top: -150px

  h1,h2
    color: white
    position: relative
    top: 200px
    z-index: 2
  .scroll-down
    margin: 30px auto
    text-align: center
    position: relative
    top: 200px
    width: 50px
    z-index: 1
    left: -10px
    .fa
      color: white !important
      text-decoration: none
    .bounce
      -webkit-animation-name: bounce
      -moz-animation-name: bounce
      -webkit-animation-duration: 0.5s
      -moz-animation-duration: 0.5s
      -webkit-animation-iteration-count: infinite
      -moz-animation-iteration-count: infinite
      -webkit-animation-direction: alternate
      -moz-animation-direction: alternate
      -webkit-animation-timing-function: eaze-in-out
      -moz-animation-timing-function: eaze-in-out

#our-technologies
  height: auto
  margin-top: 35px
  h1
    margin: 0px auto
    text-align: center

ul
  padding: 20px


.size
  float: right
.left-block,.right-block,.center-block > ul
  p
    font-size: 1.5em !important
    font-family: "helvetica neue" !important
  i
    font-size: 20px
  li
    list-style-type: none
    padding: 7px
    font-size: 18px
    position: relative
    top: 10px
    left: 0px
  span
    font-size: 20px

.main-block
  padding-top: 50px
  position: relative
  left: 53px
  height: 50%

#section3
  width: auto
  height: auto
  margin: auto 0px
  padding: 50px
  position: relative
  top: 20px
  text-align: center
  .btn-lg
    margin-bottom: 20px
    padding: 4px 16px !important
b
  position: relative
  top: -12px
  font-weight: normal !important
footer.footer
  background-color: $footer-color
  height: 50px
  margin-bottom: -19px
  p
    text-align: center
    color: $footer-texts
    padding-top: 16px
    font-size: 13px

@media screen and (max-width: 1203px)
  footer, #section3
    position: relative
    top: 800px
@media screen and (max-width: 1170px)
  footer, #section3
    position: relative
    top: 900px
@media screen and (max-width: 775)
  footer, #section3
    position: relative
    top: 10px

@media screen and (max-width: 700)
  footer, #section3
    position: relative
    top: 700px
