@import "compass"
@import "variables"
@import "bootstrap"

.navbar
  min-height: 70px !important
.navbar-logo
  height: 40px
  margin-top: -9px
.navbar-nav
  position: relative !important
.brand-block
  font-size: 1.5em
  padding-left: 5px
  position: relative
  top: 5px
  font-weight: bolder

.brand-color
  @extend .brand-block
  color: $illustration-space-color
  font-weight: normal
  &:hover
    opacity: .80
    color: $illustration-space-color
.navbar-brand
  text-align: center
  a:hover
    text-decoration: none !important


#forum_embed
  left: 15%
  position: relative

#illustration-space
  height: auto
  width: auto
  text-align: center
  margin-top: -22px
  background-color: $illustration-space-color
  z-index: -1
  img.illustration
    position: relative
    width: 100%
    height: auto
    margin-top: -150px

  h1,h2
    color: white
    position: relative
    top: 200px
    z-index: 2
  .scroll-down
    margin: 30px auto
    text-align: center
    position: relative
    top: 200px
    width: 50px
    z-index: 1
    left: -10px
    .fa
      color: white !important
      text-decoration: none

#our-technologies
  height: auto
  margin-top: 35px
  h1
    margin: 0px auto
    text-align: center
ul
  padding: 10px

.size
  float: right
.left-block,.right-block,.center-block > ul
  p
    font-size: 1.5em !important
    font-family: "helvetica neue" !important
  i
    font-size: 20px
  li
    list-style-type: none
    padding: 7px
    font-size: 18px
    position: relative
    top: 10px
    left: 0px

.main-block
  padding-top: 50px
  position: relative
  left: 53px
  height: 50%

#section3
  width: auto
  height: auto
  margin: auto 0px
  padding: 50px
  position: relative
  top: 20px
  text-align: center
  .btn-lg
    padding: 4px 16px !important
b
  position: relative
  top: -12px
  font-weight: normal !important
footer.footer
  background-color: $footer-color
  height: 50px
  margin-bottom: -19px
  p
    text-align: center
    color: $footer-texts
    padding-top: 16px
    font-size: 13px

@media screen and (max-width: 1203px)
  footer, #section3
    position: relative
    top: 800px
@media screen and (max-width: 1170px)
  footer, #section3
    position: relative
    top: 900px
@media screen and (max-width: 775)
  footer, #section3
    position: relative
    top: 10px

@media screen and (max-width: 700)
  footer, #section3
    position: relative
    top: 700px
