@import "compass"
@import "variables"
@import "bootstrap"

.navbar
  min-height: 70px !important
.navbar-logo
  height: 40px
  margin-top: -9px
.navbar-nav
  position: relative !important
.brand-block
  font-size: 1.5em
  padding-left: 5px
  position: relative
  top: 5px
  font-weight: bolder

.brand-color
  @extend .brand-block
  color: $illustration-space-color
  font-weight: normal
  &:hover
    opacity: .80
    color: $illustration-space-color
.navbar-brand
  text-align: center
  a:hover
    text-decoration: none !important
.illustration
  background: url('../images/header-illustration.png') no-repeat center center
  position: relative
  height: 729px
  background-size: cover

#forum_embed
  left: 15%
  position: relative

#illustration-space
  height: auto
  width: auto
  text-align: center
  margin-top: -22px
  background-color: $illustration-space-color
  z-index: -1
  img.illustration


  h1,h2
    color: white
    position: relative
    top: 150px
  .scroll-down
    margin: auto
    text-align: center
    position: relative
    top: 142px
    width: 50px
    left: -10px
    i.fa
      color: white !important

#our-technologies
  height: auto
  margin-top: 35px
  h3
    text-align: center
    font-size: 50px
ul
  padding: 10px
.left-block,.right-block,.center-block > ul
  p
    font-size: 1.5em !important
    font-family: "helvetica neue" !important
  i
    font-size: 20px
  li
    list-style-type: none
    padding: 7px
    font-size: 18px
    position: relative
    top: 10px
    left: 19px

.main-block
  padding-top: 50px
  position: relative
  left: 53px
  height: 50%

#section3
  width: auto
  height: auto
  margin: auto 0px
  color: black
  opacity: .70
  padding: 50px
  position: relative
  top: 20px
  text-align: center
  a
    &:hover
      text-decoration: none
    p
      text-decoration: none
      font-style: none
      opacity: .60
      color: grey


footer.footer
  background-color: $footer-color
  height: 50px
  margin-bottom: -19px
  p
    text-align: center
    color: $footer-texts
    padding-top: 16px
    font-size: 13px

@media screen and (max-width: 1203px)
  footer, #section3
    position: relative
    top: 800px
@media screen and (max-width: 1170px)
  footer, #section3
    position: relative
    top: 900px
@media screen and (max-width: 775)
  footer, #section3
    position: relative
    top: 10px

@media screen and (max-width: 700)
  footer, #section3
    position: relative
    top: 700px

@media only screen and (-webkit-min-device-pixel-ratio: 2)
  .illustration
    background: url('../images/header-illustration@2x.png') no-repeat center center
