:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12243799-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

/ Google adwords
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 975490477;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
%script{src: '//www.googleadservices.com/pagead/conversion.js', type: 'text/javascript'}
  :cdata
%noscript
  %div{style: 'display:inline;'}
    %img{alt: '', height: '1', src: '//googleads.g.doubleclick.net/pagead/viewthroughconversion/975490477/?value=0&guid=ON&script=0', style: 'border-style:none;', width: '1'}/