%iframe#forum_embed{frameborder: "0", height: "750", scrolling: "no", src: "javascript:void(0)", width: "900"}

:javascript
    document.getElementById('forum_embed').src =
       'https://groups.google.com/forum/embed/?place=forum/bulutfon'
       + '&showsearch=true&showpopout=true&showtabs=false'
       + '&parenturl=' + encodeURIComponent(window.location.href);

