#illustration-space
  %h1  Açık kaynağı seviyor, kullanıyor ve destekliyoruz.
  %p.scroll-down
    %a{href: '#our-technologies'}
      %i.fa.fa-angle-double-down.fa-5x
  = image_tag 'header-illustration.png', class: 'illustration'


#our-technologies.container
  %h3 Kullandığımız Teknolojiler
  .container.main-block
    .col-lg-4.left-block
      %ul
        %i.fa.fa-cube.fa-2x
          İşletim Sistemleri
        %li=link_to  'Ubuntu','http://www.ubuntu.com/', target:'_blank'
        %li=link_to 'CentOs','http://www.centos.org/', target:'_blank'
      %ul
        %i.fa.fa-building.fa-2x
          Çatılar
        %li=link_to 'Rails','http://rubyonrails.org/',target:'_blank'
        %li=link_to 'JQuery','http://jquery.com/',target:'_blank'
        %li=link_to 'Bootstrap','http://getbootstrap.com/',target: '_blank'
      %ul
        %i.fa.fa-paper-plane.fa-2x
          SIP Sunucusu
        %li=link_to 'Kamailio','http://www.kamailio.org/w/',target:'_blank'
        %li=link_to 'Open Sips','http://www.opensips.org/',target:'_blank'
    .col-lg-4.center-block
      %ul
        %i.fa.fa-code.fa-2x
          Programlama Dilleri
        %li=link_to 'Ruby','https://www.ruby-lang.org/en/',target:'_blank'
        %li=link_to 'C','http://www.cprogramming.com/',target:'_blank'
        %li=link_to 'JavaScript','#',target:'_blank'
        %li=link_to 'Bash','http://www.gnu.org/software/bash/',target:'_blank'
        %li=link_to 'Lua','http://www.lua.org/',target:'_blank'
      %ul
        %i.fa.fa-video-camera.fa-2x
          Medya Sunucusu
        %li=link_to 'FreeSwitch','http://freeswitch.org/',target:'_blank'
      %ul
        %i.fa.fa-empire.fa-2x
          Web ve Uygulama Sunucusu
        %li=link_to 'Nginx','http://nginx.org/',target:'_blank'


    .col-lg-4.right-block
      %ul
        %i.fa.fa-database.fa-2x
          Veritabanı
        %li=link_to 'PostgreSQL','http://www.postgresql.org/',target: '_blank'
        %li=link_to 'MongoDB','http://www.mongodb.org/',target: '_blank'
      %ul
        %i.fa.fa-openid.fa-2x
          Ön Derleyiciler
        %li=link_to 'Haml','http://haml.info/',target: '_blank'
        %li=link_to 'Sass','http://sass-lang.com/',target: '_blank'
        %li=link_to 'Coffescript','http://coffeescript.org/',target: '_blank'

      %ul
        %i.fa.fa-archive.fa-2x
          Diğerleri
        %li=link_to 'Elasticsearch','http://www.elasticsearch.org/',target:'_blank'
        %li=link_to 'RabbitMQ','https://www.rabbitmq.com',target:'_blank'

#section3
  %a.btn.btn-primary.btn-lg{href: "https://github.com/bulutfon"}
    %i.fa.fa-github
    github.com/bulutfon


