#section1
  %h1 Bulutfon olarak açık kaynağı
  %h1 seviyor, kullanıyor ve destekliyoruz.
  .section_img.container

#section2.container
  %h3 Bulutfon Open Source
  .container.main-block
    .col-lg-4.left-block
      %ul
        %p Operation System
        %li
          =link_to  'Ubuntu','http://www.ubuntu.com/', target:'_blank'
        %li
          =link_to 'CentOs','http://www.centos.org/', target:'_blank'
      %ul
        %p Web and App Server
        %li
          =link_to 'Nginx','http://nginx.org/',target:'_blank'
      %ul
        %p Programming & Script Language
        %li
          =link_to 'Ruby','https://www.ruby-lang.org/en/',target:'_blank'
        %li
          =link_to 'C','http://www.cprogramming.com/',target:'_blank'
        %li
          =link_to 'JavaScript','#',target:'_blank'
        %li
          =link_to 'Bash','http://www.gnu.org/software/bash/',target:'_blank'
    .col-lg-4.center-block
      %ul
        %p Frameworks
        %li
          =link_to 'Rails','http://rubyonrails.org/',target:'_blank'
        %li
          =link_to 'JQuery','http://jquery.com/',target:'_blank'
        %li
          =link_to 'Bootstrap','http://getbootstrap.com/',target: '_blank'
      %ul
        %p Precompliers
        %li
          =link_to 'Haml','http://haml.info/',target: '_blank'
        %li
          =link_to 'Sass','http://sass-lang.com/',target: '_blank'
        %li
          =link_to 'Coffescript','http://coffeescript.org/',target: '_blank'
    .col-lg-4.right-block


      %ul
        %p Database
        %li
          =link_to 'PostgreSQL','http://www.postgresql.org/',target: '_blank'
        %li
          =link_to 'MongoDB','http://www.mongodb.org/',target: '_blank'
      %ul
        %p Others
        %li

          =link_to 'Elasticsearch','http://www.elasticsearch.org/',target:'_blank'
        %li

          =link_to 'RabbitMQ','https://www.rabbitmq.com',target:'_blank'
      %ul
        %p Sip Server
        %li

          =link_to 'Kamailio','http://www.kamailio.org/w/',target:'_blank'
      %ul
        %p Media Server
        %li

          =link_to 'FreeSwitch','http://freeswitch.org/',target:'_blank'
