#section1
  %h1 Bulutfon olarak açık kaynağı
  %h1 seviyor, kullanıyor ve destekliyoruz.
  .section_img.container

#section2.container
  %h3 Bulutfon Open Source
  .container
    .col-lg-6.left-block
      %ul
        %p Operation System
        %li
          Ubuntu
        %li
          CentOs
      %ul
        %p Web and App Server
        %li
          Nginx
      %ul
        %p Programming & Script Language
        %li
          Ruby
        %li
          C
        %li
          JavaScript
        %li
          Bash
      %ul
        %p Frameworks
        %li
          Rails
        %li
          JQuery
        %li
          Bootstrap
    .col-lg-6.right-block

      %ul
        %p Precompliers
        %li
          Haml
        %li
          Sass
        %li
          Coffescript
      %ul
        %p Database
        %li
          PostgreSQL
        %li
          MongoDB
      %ul
        %p Others
        %li
          Elasticsearch
          =link_to 'http://www.elasticsearch.org/'
        %li
          RabbitMQ
          =link_to 'https://www.rabbitmq.com'
      %ul
        %p Sip Server
        %li
          Kamailio
          =link_to 'http://www.kamailio.org/w/'
      %ul
        %p Media Server
        %li
          FreeSwitch
          =link_to 'http://freeswitch.org/ '
